<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Search for Equity/Stock" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"
          (input)="onSearchChange($event.target.value)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option" (click)="showData(option)" >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<table id="customers">
  <tr>
    <th (click)="sort('issuer')">Name</th>
    <th (click)="sort('symbol')">Symbol</th>
    <th (click)="sort('currency')">Currency</th>
    <th (click)="sort('lastPrice')">Last Price</th>
    <th (click)="sort('pricingDate')">Pricing Date</th>
    <th (click)="sort('highPrice')">High Price</th>
    <th (click)="sort('lowPrice')">Low Price</th>
  </tr>
  <tr *ngFor="let data of dataset">
    <td>{{data.issuer}}</td>
    <td>{{data.symbol}}</td>
    <td>{{data.currency}}</td>
    <td>{{data.lastPrice}}</td>
    <td>{{data.pricingDate}}</td>
    <td>{{data.highPrice}}</td>
    <td>{{data.lowPrice}}</td>

  </tr>
</table>
